nav {
    @apply border-0;
    @screen lg {
        @apply border-b border-grey-light;
    }
    .nav-container {
        @apply w-full flex flex-col mx-auto items-center justify-between;
        .left {
            @apply border-b border-grey-light px-4;
        }
        .right {
            @apply hidden;
            ul {
                li {
                    @apply border-b border-grey-light;
                    a {
                        @apply px-4
                    }
                }
            }
            &.active {
                @apply block;
            }
        }
        .hamburger-menu {
            $height: 0.15rem;
            @apply w-4 bg-grey-darker inline-block relative;
            height: $height;
            transition: transform .2s ease-in-out;
            &::before {
                content: '';
                @apply w-4 bg-grey-darker absolute;
                height: $height;
                bottom: 200%
            }
            &::after {
                content: '';
                @apply w-4 bg-grey-darker absolute;
                height: $height;
                bottom: -200%
            }
            &.open {
                transform: rotate(90deg);
                background: transparent;
            }
            &.open::before {
                bottom: 0%;
                transform: rotate(135deg);
            }
            &.open::after {
                bottom: 0%;
                transform: rotate(225deg);
            }
        }
        @screen lg {
            @apply flex-row;
            max-width: 992px;
            .left {
                @apply border-0;
            }
            .right {
                display: flex;
                ul {
                    li {
                        @apply border-0;
                    }
                }
            }
        }
        @screen xl {
            max-width: 1200px;
        }
    }
}
